# PostgreSQL local para desarrollo académico
POSTGRES_DB=inedataflow
POSTGRES_USER=ine_dataflow
POSTGRES_PASSWORD=ine_dataflow_dev
INE_DATAFLOW_DB_PORT=5433
INE_DATAFLOW_API_PORT=8001
INE_DATAFLOW_FRONTEND_PORT=4200
INE_DATAFLOW_JWT_SECRET=replace-with-a-long-random-secret
INE_DATAFLOW_ACCESS_TOKEN_MINUTES=1440
